<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about_us_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>About Us</title>  
</head>
<body>
  
    <section class="company-section">
      <div class="go-back">
        <img src="{% static 'back.gif' %}" alt="Go Back" class="go-back-image" onclick="history.back()" />
      </div>      
        <div class="company-card">
          <img  src="{% static 'about_us_background.gif' %}" alt="Company Image" class="company-image" />
          <h2 class="company-name">Tech Innovators-TechnoWin IT Infra Pvt Ltd 🚀</h2>
          <p class="company-description">
            Empowering businesses with innovative apps 📱, smart IT solutions 💻, and future-ready infrastructures 🔧. <br>
            We blend technology with creativity to drive growth, spark innovation 💡, 
            and build seamless digital experiences. Let’s shape the future—together! 🌐
          </p>
        </div>
      </section>
      
      <section class="journey-section">
        <div class="journey-header">
            <h2>Our Incredible Journey 🚀</h2>
            <p>Experience the moments that have defined our success, shaped our culture, and revolutionized our industry.</p>
        </div>
    
        <div class="journey-mobiles">
            <div class="mobile-wrapper">
                <div class="mobile-item" style="background-image: url('{% static 'sticker_icon.png' %}');">
                    <span class="mobile-date">2015</span>
                    <p class="mobile-description">We've rented a small office in Gorai – Borivali to deliver data entry projects for EC Bank, MCGM – Estate Department, and Octroi</p>
                </div>
                <div class="mobile-item" style="background-image: url('{% static 'cloud_about_icon.png' %}');">
                    <span class="mobile-date">2017</span>
                    <p class="mobile-description">We purchased our inaugural office in Malad - Orbit Industrial Estate, expanded to 100+ staff, and began providing hardware supply and maintenance.</p>
                </div>
                <div class="mobile-item" style="background-image: url('{% static 'cloud_about_icon.png' %}');">
                    <span class="mobile-date">2018</span>
                    <p class="mobile-description">Expanding data entry projects to various Government Bodies, securing our first AMC contract with MCGM – Octroi. Our team grew to 400+.</p>
                </div>
                <div class="mobile-item" style="background-image: url('{% static 'cloud_about_icon.png' %}');">
                    <span class="mobile-date">2020</span>
                    <p class="mobile-description">Started Software Division in Malad on Nov 14, 2016. By Jan 2017, developed software, handled hardware, and performed data entry for CIDCO.</p>
                </div>
            </div>
            <div class="mobile-wrapper">
                <div class="mobile-item" style="background-image: url('{% static 'cloud_about_icon.png' %}');">
                    <span class="mobile-date">2021</span>
                    <p class="mobile-description">In Dec 2018, we secured 'Gram Panchayat Development and Planning' project integrated with a fellowship program under Mr. Devendra Fadnavis.</p>
                </div>
                <div class="mobile-item" style="background-image: url('{% static 'cloud_about_icon.png' %}');">
                    <span class="mobile-date">2022</span>
                    <p class="mobile-description">Survived post-Covid with customer support. Developed 'Knowledge Resource Center' with SVT College. Created CM Apprenticeship Management System for GHRDC, Goa. Awarded HRMS projects.</p>
                </div>
                <div class="mobile-item" style="background-image: url('{% static 'cloud_about_icon.png' %}');">
                    <span class="mobile-date">2023</span>
                    <p class="mobile-description">Established educational software for Government Law College, Mumbai, Audit Utility for CGST Thane, Citizen Scheme Portal for Navi Mumbai Municipal Corporation. Ventured into Labour Law Compliance.</p>
                </div>
                <div class="mobile-item" style="background-image: url('{% static 'cloud_about_icon.png' %}');">
                    <span class="mobile-date">2024</span>
                    <p class="mobile-description">Continuing ..</p>
                </div>
            </div>
        </div>
    </section>
    
    
    
      
      






</body>
</html>