<!DOCTYPE html>
{% extends "Shared/layout.html" %} {% block content %} 
<html lang="en">
    <head>
        
        {% load static %}
        {% comment %} <link rel="stylesheet" href="{% static 'css/main_style.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'css/siteMap.css' %}">
        {% comment %} <link rel="stylesheet" href="{% static 'css/share_layout.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technowin Website</title>
        {% comment %} <link rel="stylesheet" href="{% static 'css/slider.css' %}"> {% endcomment %}
    </head>
    
<body>

    <section>
   
        <div class="content">
            <h2>Site Map</h2>
            {% comment %} <ul class="sitemap">
                <li>Home
                    <ul>
                        <li>Skills</li>
                        <li>Service We Provide</li>
                        <li>Innovation by Us</li>
                        <li>Technology Stack</li>
                        <li>Achievements</li>
                        <li>Our Clients</li>
                        <li>Testimonial</li>
                        <li>Contact Form</li>
                        <li>Footer</li>
                    </ul>
                </li>
                <li>About Us
                    <ul>
                        <li>History Of Technowin</li>
                        <li>Meet The Team Section</li>
                        <li>Vision, Mission Section</li>
                        <li>Footer</li>
                    </ul>
                </li>
                <li>Software
                    <ul>
                        <li>APP Developed Project Information</li>
                        <li>Web Developed Project Information</li>
                        <li>Footer</li>
                    </ul>
                </li>
                <li>Services
                    <ul>
                        <li>Service Information</li>
                        <li>FAQ</li>
                        <li>Footer</li>
                    </ul>
                </li>
                <li>Contact Us
                    <ul>
                        <li>Customer Feedback</li>
                        <li>Get In Touch Form</li>
                        <li>Our Gallery</li>
                        <li>Footer</li>
                    </ul>
                </li>
            </ul> {% endcomment %}
            <ul class="sitemap">
                <li><a href="{% url 'Home' %}">Home</a>
                    <ul>achievements-section
                        <li><a href="{% url 'Home' %}#slider-video-section">Slider</a></li>
                        <li><a href="{% url 'Home' %}#why-techno_stand">Service We Provide</a></li>
                        <li><a href="{% url 'Home' %}#project-videos">Innovation by Us</a></li>
                        <li><a href="{% url 'Home' %}#tech-section">Technology Stack</a></li>
                        <li><a href="{% url 'Home' %}#achievements-section">Achievements</a></li>
                        <li><a href="{% url 'Home' %}#socialIcons">Socail Media</a></li>
                        <li><a href="{% url 'Home' %}#client-carousel-section">Our Clients</a></li>
                        <li><a href="{% url 'Home' %}#short_feedback">Testimonial</a></li>
                        <li><a href="{% url 'Home' %}#short_feedback">Enquiry Form</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'AboutUs' %}">About Us</a>
                    <ul>
                        <li><a href="{% url 'AboutUs' %}#social-media-section">About Us Slider</a></li>
                        <li><a href="{% url 'AboutUs' %}#history-technowin">History Of Technowin</a></li>
                        <li><a href="{% url 'AboutUs' %}#testimonials">Meet The Team Section</a></li>
                        <li><a href="{% url 'AboutUs' %}#mvo-video-background">Vision, Mission Section</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'Software' %}">Software</a>
                    <ul>
                        <li><a href="{% url 'Software' %}#background-section">Software Slider</a></li>
                        <li><a href="{% url 'Software' %}#app-project">APP Developed Project Information</a></li>
                        <li><a href="{% url 'Software' %}#web-project">Web Developed Project Information</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'Services' %}">Services</a>
                    <ul>
                        <li><a href="{% url 'Services' %}#service-background">Services Slider</a></li>
                        <li><a href="{% url 'Services' %}#service-info">Service Information</a></li>
                        <ul>
                            <li><a href="{% url 'Services' %}#cloud-service">Cloud Computing</a></li>
                            <li><a href="{% url 'Services' %}#manpower-service">Supply of Manpower</a></li>
                            <li><a href="{% url 'Services' %}#hardware-service">Hardware Supply</a></li>
                            <li><a href="{% url 'Services' %}#digitalization-service">Digitalization of Documents</a></li>
                            <li><a href="{% url 'Services' %}#hardware-amc-service">Hardware AMC</a></li>
                            <li><a href="{% url 'Services' %}#ai-service">A.I. Based Solutions & Features</a></li>
                        </ul>
                        <li><a href="{% url 'Services' %}#faq-section">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'ContactUs' %}">Contact Us</a>
                    <ul>
                        <li><a href="{% url 'ContactUs' %}#contact-media-section">Contact Us Slider</a></li>
                        <li><a href="{% url 'ContactUs' %}#socialIcons">Socail Media</a></li>
                        <li><a href="{% url 'ContactUs' %}#feedback-section">Customer Feedback</a></li>
                        <li><a href="{% url 'ContactUs' %}#technoWinContactSection">Get In Touch Form</a></li>
                        <li><a href="{% url 'ContactUs' %}#background-video-section">Our Gallery</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>

    </section>

</body>

</html>

{% endblock %}