/* Style carousel controls */
.carousel-control-prev, .carousel-control-next {
    width: 5%;
    text-decoration: none !important;
}

.custom-carousel-icon {
    font-size: 24px;
    color: white;
    background-color: blue;
    padding: 12px;
    border-radius: 50%;
    font-weight: 800;
    text-decoration: none !important;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%; /* Adjust button size */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .carousel {
        max-width: 90%;
    }

    .carousel img {
        height: 300px; /* Smaller height for smaller screens */
    }
}

.carousel {
    width: 99vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.carousel img {
    width: 80% !important;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: auto;
}

.overlay-text {
    position: absolute;
    top: 25%;
    left: 50%;  
    transform: translate(-50%, -50%);
    color: #0c4796;
    font-size: 5em; 
    font-weight: 600; 
    font-family: 'Alice', serif;
    text-align: center;
    margin: -4%;
    text-shadow: 4px 5px 14px rgba(293, 0, 0, 43.63);
}

.overlay-text-slide2 {
    position: absolute;
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #0c4796;
    font-size: 3em;
    font-weight: 600; 
    font-family: 'Alice', serif;
    text-align: center;
    margin: 0; 
    white-space: nowrap; 
    text-shadow: 4px 5px 14px rgba(293, 0, 0, 43.63);
}

.overlay-text-slide4 {
    position: absolute;
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #0c4796; 
    font-size: 4em; 
    font-weight: 600; 
    font-family: 'Alice', serif;
    text-align: center;
    margin: 0; 
    white-space: nowrap; 
    text-shadow: 4px 5px 14px rgba(293, 0, 0, 43.63);
}

.overlay-text-slide3 {
    position: absolute;
     top: 45%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    color: #0c4796;
    font-size: 5em; 
    font-weight: 600; 
    font-family: 'Alice', serif; 
    text-align: center;
    margin: 0; 
    white-space: nowrap; 
    text-shadow: 4px 5px 14px rgba(293, 0, 0, 43.63);
}

.overlay-text-slide5 {
    position: absolute;
    top: 20%; 
    left: 10%;  
    color: #0c4796;
    font-size: 3em; 
    font-weight: 600; 
    font-family: 'Alice', serif; 
    text-align: left;  /* Align text to the left */
    margin: 0; 
    white-space: nowrap; 
    text-shadow: 4px 5px 14px rgba(293, 0, 0, 43.63);
}

.overlay-text-slide6 {
    position: absolute;
    top: 20%; 
    left: 60%;  
    color: #0c4796;
    font-size: 5em; 
    font-weight: 600; 
    font-family: 'Alice', serif; 
    text-align: right;  
    margin: 0; 
    white-space: nowrap; 
    text-shadow: 4px 5px 14px rgba(293, 0, 0, 43.63);
    line-height: 1.1;  /* Reduce line spacing */
}

/* Default: Hide Mobile Carousel */
#carouselExampleControlsMobile {
    display: none;
}

/* Show Mobile Carousel on Smaller Screens & Hide PC Carousel */
@media (max-width: 768px) {
    #carouselExampleControlsPC {
        display: none;
    }
    
    #carouselExampleControlsMobile {
        display: block;
        height: 50%;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 5%;
        text-decoration: none !important;
    }
    
    .custom-carousel-icon {
        font-size: 24px;
        color: white;
        background-color: blue;
        padding: 12px;
        border-radius: 50%;
        font-weight: 800;
        text-decoration: none !important;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        width: 15%; /* Adjust button size */
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none !important;
    }

}